/* Sidebar styling */
.sidebar {
  height: 100%;
  width: 200px; /* Width of sidebar */
  position: fixed;
  top: 0; /* Positioning relative to top of page */
  left: 0; /* Positioning relative to left of page */
  background-color: #000000; 
  padding-top: 20px; /* Distance first element to top */
}

.sidebar h1 {
  font-size: 30px;
  color: #ffffff;
  font-weight: bold;
  padding: 10px;
}

/* Sidebar anchors */
.sidebar a {
  padding: 10px;
  text-decoration: none;
  font-size: 20px;
  display: block;
  color: white;
}

/* Sidebar anchor hovering */
.sidebar a:hover {
  background-color: #80bdff;
}

/* --------------- CONTENT SECTION --------------- */

/* Content area styling */
.content {
  margin-left: 200px; /* Must match the width of the sidebar */
  padding: 20px; /* Content is the right part */
}

.content h1 {
  font-weight: bold;
}

.center_txt {
  text-align: center;
  padding-top: 10px;
}

.bold {
  font-weight: bold;
}

/* Form styling */
button.submit {
  background-color: #80bdff;
  border: #80bdff;
  border-radius: 10px;
  height: 35px;
  width: 130px;
}

button.submit:hover {
  background-color: #4ba2ff;
}