{% extends "template.html" %}

{% block title %}
    Request
{% endblock %}

{% block content %}
    <h1 class="center_txt">Request Money</h1>
    <br>
    <form action="/request" method="post">
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="username" name="username" placeholder="Recipient Username" type="text" autocomplete="off" autofocus required>
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="reason" name="reason" placeholder="Reason (Optional)" type="text" autocomplete="on">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="amount" name="amount" placeholder="Amount" type="number" autocomplete="off" required>
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="password" name="password" placeholder="Password" type="password" autocomplete="off" required>
        </div>
        <div class="button_container">
            <button class="btn btn-primary" type="submit">Request</button>
        </div>
    </form>
{% endblock %}