{% extends "template.html" %}

{% block title %}
    Transfers
{% endblock %}

{% block content %}
    <h1 class="center_txt">Transfers</h1>
    <br>
    <form action="/send" class="button_container">
        <button class="btn btn-primary">Send Money</button>
    </form><br>
    <form action="/request" class="button_container">
        <button class="btn btn-primary">Request Money</button>
    </form><br>
    <form action="edit" class="button_container">
        <button class="btn btn-primary">Edit Balance</button>
    </form>
{% endblock %}