{% extends "template.html" %}

{% block title %}
    Transfers
{% endblock %}

{% block content %}
    <h1 class="center_txt">Transfers</h1>
    <br>
    <div class="button_container">
        <button class="btn btn-primary" href="/send">Send Money</button>
    </div><br>
    <div class="button_container">
        <button class="btn btn-primary" href="/request">Request Money</button>
    </div><br>
    <div class="button_container">
        <button class="btn btn-primary" href="/edit">Edit Balance</button>
    </div>
{% endblock %}